<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-form-area">
      <p class="modal-title">Sign up form</p>
      <form class="modal-form">
        <ul class="form-list list">
          <li class="form-list-item">
            <label class="modal-form-label">
              <span class="label-text">
                Name
              </span>
              <input class="modal-form-field username" id="username" type="text" name="username"
                placeholder="Vova zi Lvova">
            </label>
          </li>
          <li class="form-list-item">
            <label class="modal-form-label">
              <span class="label-text">
                Mail
              </span>
              <input class="modal-form-field email" id="email" type="email" name="email" placeholder="1234@gmail.com">
            </label>
          </li>
          <li class="form-list-item">
            <label class="modal-form-label">
              <span class="label-text">
                Password
              </span>
              <input class="modal-form-field password" id="password" type="password" name="password"
                placeholder="1234password">
            </label>
          </li>
        </ul>
        <button class="form__button btn-checkbox btn" type="submit" id="signUp">
          <span class="form__text">
            Sign up
          </span>
        </button>
    </div>
    </form>
  </div>
</div>
</div>